@font-face {
  font-family: "Century Gothic";
  src: local("Century Gothic"), url("../fonts/CenturyGothic.woff") format("woff"), url("../fonts/'CenturyGothic.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Century Gothic";
  src: local("Century Gothic Bold"), url("../fonts/CenturyGothic-Bold.woff") format("woff"), url("../fonts/'CenturyGothic-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Century Gothic";
  src: local("Century Gothic Italic"), url("../fonts/CenturyGothic-Italic.woff") format("woff"), url("../fonts/'CenturyGothic-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Century Gothic";
  src: local("Century Gothic Bold Italic"), url("../fonts/CenturyGothic-BoldItalic.woff") format("woff"), url("../fonts/'CenturyGothic-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Comfortaa";
  src: local("Comfortaa Light"), url("../fonts/Comfortaa-Light.woff") format("woff"), url("../fonts/Comfortaa-Light.woff2") format("woff2");
 
  font-style: normal;
}

@font-face {
  font-family: "Neucha";
  src: local("Neucha"), url("../fonts/Neucha.woff") format("woff"), url("../fonts/Neucha.woff2") format("woff2");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "AnimeAce";
  src: local("AnimeAce"), url("../fonts/AnimeAcev02Bold.woff") format("woff"), url("../fonts/AnimeAcev02Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: bold;
}


@import "node_modules/normalize.less/normalize.less";
@import "variables.less";
@import "mixins.less";
@import "blocks/wrapper.less";
@import "blocks/page-header.less";
@import "blocks/user-nav.less";
@import "blocks/service-nav.less";
@import "blocks/page-main.less";
@import "blocks/personal-nav.less";
@import "blocks/page-footer.less";
@import "blocks/popup.less";
@import "blocks/delivery.less";
@import "blocks/payment.less";
@import "blocks/contacts.less";
@import "blocks/contacts-boss.less";
@import "blocks/contacts-company.less";
@import "blocks/breadcrumbs.less";
@import "blocks/dish.less";
@import "blocks/kitchen-goods.less";
@import "blocks/comming-soon.less";
@import "blocks/personal-orders.less";
@import "blocks/personal-points.less";
@import "blocks/personal-gift.less";
@import "blocks/personal-cards.less";
@import "blocks/add-card.less";
@import "blocks/personal-subscribe.less";
@import "blocks/subscribe-variants.less";
@import "blocks/personal-info.less";
@import "blocks/total-basket.less";


body {
  font-family: "Century Gothic", "Arial", sans-serif;
  font-weight: normal;
  font-style: normal;
  min-width: 1172px;
}

body.body--personal {
  min-width: 1200px;
}
