.basket-confirm {
  background-color: #ffffff;
  border: 1px dashed #009036;
  border-radius: 15px;
  padding: 17px 18px;
  padding-right: 0;
  width: 858px;
  margin-left: 250px;/*!!!!!!!!!!!!!!!!!!!*/
  .clearfix();
}


.basket-confirm__left {
  float: left;
  width: 50%;
  position: relative;

  
  &::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 100%;
    background-color: #dedede;
    right: 0;
    top: 0;
  }
}

.basket-confirm__right {
  float: left;
  width: 50%;
  position: relative;
}

.basket-confirm__title {
  font-size: 24px;
  color: #878686;
  margin-bottom: 45px;
  padding-left: 40px;
}

.basket-confirm__item {
  font-size: 18px;
  color: #7f7e7e;
  padding-left: 115px;
  padding-right: 15px;
  margin-bottom: 40px;
  position: relative;
&::before {
  position: absolute;
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  left: 40px;
  top: -10px;
  
}

}

.basket-confirm__item--compos::before {
  background-image: url("../img/icon-dish.png");
  width: 52px;
  height: 56px;
  z-index: 5;
}

.basket-confirm__item--address::before {
  background-image: url("../img/icon-delivery.png");
  width: 55px;
  height: 58px;
  z-index: 5;
}

.basket-confirm__item--date::before {
  background-image: url("../img/icon-calendar.png");
  width: 45px;
  height: 46px;
  z-index: 5;
  left: 45px;
}

.basket-confirm__total {
  text-align: right;
  padding-right: 85px;
  margin-top: 80px;
}

.basket-confirm__total-delivery {
  font-size: 20px;
  color: #6c6c6c;
}

.basket-confirm__total-sum {
  color: #6c6c6c;
  font-size: 24px;
  
  span {
    color: #eb530d;
  }
}

.basket-confirm__link {
  display: inline-block;
  color: #e95d0f;
  font-size: 20px;
  margin-left: 46px;
  text-decoration: none;
}

.basket-confirm__payment-title {
  font-size: 18px;
  color: #878686;
  text-align: center;
  margin-bottom: 40px;
}

.basket-confirm__payment-item {
  margin-top: 5px;
  margin-bottom: 30px;
  margin-left: 30px;
}

.basket-confirm__payment-item input {
  display: none;
}

.basket-confirm__payment-item label {
  color: #565656;
  padding-left: 43px;
  font-size: 20px;  
  margin-bottom: 25px;
  display: block;
  cursor: pointer;
  position: relative;
}

.basket-confirm__payment-item label::before {
  position: absolute;
  content: "";
  width: 33px;
  height: 33px;
  border-radius: 50%;
  border: 1px solid #565656;
  left: -3px;
  top: -3px;
}

.basket-confirm__payment-item input:checked~label::before {
  border: 12px solid #009036;
  width: 13px;
  height: 13px;
  left: -4px;
}

.basket-confirm__payment-change {
  font-size: 16px;
  color: #727272;
  margin-left: 30px;
  padding-left: 45px;
  margin-top: -26px;
  margin-bottom: 15px;
}

.basket-confirm__add-card {
  margin-left: 30px;
}

.basket-confirm__btn {
  border: none;
  color: #ffffff;
  display: block;
  width: 82%;
  margin-top: 20px;
  margin-left: 30px;
  padding: 8px 15px;
  background-color: #e95d0f;
  font-size: 24px;
  border-radius: 25px;
  margin-bottom: 20px;
}