.index-compare {
  background-image: url("../img/bg-index-grey.jpg");
}

.index-compare__resource {
  font-size: 14px;
  img {
    display: block;
  }
}

.index-compare__category {
  text-align: center;
}

