.index-intro {
  background-image: url("../img/index-intro-bg.jpg");
  padding-bottom: 5px;
}

.index-intro__inner {
  .clearfix();
  padding: 0 50px;
}

.index-intro__text {
  padding: 0 23px;
  padding-top: 45px;
  padding-bottom: 105px;
  background-color: rgba(255,255,255,0.8);
  color: #565656;
  font-size: 24px;
  width: 340px;
  float: left;
}

.index-intro__title {
  font-family: "Neucha", "Arial", sans-serif;
  font-weight: normal;
  color: #ed6f35;
  font-size: 43px;
  margin-bottom: 7px;
  margin-top: 0;
  text-align: center;
}

.index-intro__link {
  text-decoration: none; 
  display: block;
  background-color: #ed6f35;
  color: #ffffff;
  text-align: left;
  padding: 10px 10px;
  border-radius: 15px;
  border: 2px solid #a0a0a0;
  position: relative;
  
  &:hover {
    background-color: #fc7321;
  }
}

.index-intro__icons {
  display: flex;
  float: right;
  margin-top: 40px;
}

.index-intro__icon-item {
  font-size: 22px;
  color: #272727;
  font-family: "Neucha", "Arial", sans-serif;
  text-align: center;
  position: relative;
  padding-top: 65px;
  margin-right: 25px;
  
  &:last-child {
    margin-right: 0;
  }
  
  &::before {
    position: absolute;
    content: "";
    background-repeat: no-repeat;
    top: 0;
    left: 50%;
  }
}

.index-intro__icon-item--time {
  width: 139px;
  &::before {
    top: 5px;
    width: 52px;
    height: 52px;
    background-image: url("../img/icon-clock-orangesm.png");
    margin-left: -26px;
  }
}

.index-intro__icon-item--portion {
  width: 80px;
  &::before{
    width: 54px;
    height: 58px;
    margin-left: -28px;
    background-image: url("../img/icon-dish-orangesm.png");
  }
}

.index-intro__icon-item--news {
  width: 139px;
  &::before{
    width: 79px;
    margin-left: -43px;
    top: 18px;
    height: 39px;
    background-image: url("../img/icon-food-orangesm.png");
  }
}