.index-apple {
  background-image: url("../img/bg-index-apple.jpg");
  background-size: cover;
}

.index-apple__text {
  font-size: 18px;
  padding: 80px 15px;
  width: 260px;
  background-color: rgba(0,0,0,0.4);
  color: #ffffff;

  span {
    font-weight: bold;
  }
}

.index-apple__title {
  text-align: center;
}

.index-apple__link {
  background-color: #e9540f;
  padding: 10px 0;
  
  a {
    font-size: 36px;
    font-family: "Neucha", "Arial", sans-serif;
    color: #ffffff;
    text-decoration: none;
  }
}
