.index-society__FAQ {
  text-align: center;
  padding: 30px 0;
  background-image: url("../img/bg-index-FAQ.jpg");
  
  a {
    display: inline-block;
    text-decoration: none;
    font-family: "Neucha", "Arial", sans-serif;
    font-size: 40px;
    color: #7e7e7e;
    background-color: #e0e0e0;
    padding: 10px 55px;
    box-shadow: 0 2px 2px 1px #f8f8f8 inset;
    border-radius: 15px;
    border: 2px solid #a9a9a9; 
  }
}

.index-society__photo {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  
  img{
    display: block;
   width: 100%;
    height: 100%;
  }
}

.index-society__column {
  display: flex;
  flex-wrap: wrap;
  width: 453px;
  justify-content: space-between;
  margin: 5px 2px;
}

.index-society__column-small {
  width: 365px;
}

.index-society__img-wrapper {
  margin-bottom: 5px;
}


.index-society__img-wrapper--small {
  width: 224px;
  height: 225px;
}

.index-society__img-wrapper--middle {
  width: 365px;
  height: 225px;
}

.index-society__img-wrapper--text {
  position: relative;
  width: 365px;
  height: 235px;
}

.index-society__img-wrapper--big {
  width: 453px;
  height: 465px;
}

.index-society__text {
  
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(39,118,33,0.5);
  
  a{
    display: block;
    height: 100%;
    color: #ffffff;
    font-size: 34px;
    line-height: 246px;
    text-align: center;
    font-family: "Neucha", "Arial", sans-serif;
    text-decoration: none;
  }
}

