.index-table__inner {
  background-image: url("../img/bg-index-apple.jpg");
  padding: 0 30px;
  padding-bottom: 30px;
  padding-top: 46px;
  position: relative;
  display: flex;
  
  img {
    display: block;
  }
}

.index-table__contents {
    margin-left: auto;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.index-table__content {
  position: relative;
}

.index-table__text {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  font-size: 18px;
  padding: 0 15px;
  width: 265px;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  color: #ffffff;
  
  display: flex;
  align-items: center;
  
  p{
    margin: 10px 0;
  }

  span {
    font-weight: bold;
  }
  
  a {
    color: #ffffff;
  }
}

.index-table__text--tomato {
  width: 330px;
}

.index-table__title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 13px;
}

.index-table__link {
  background-color: #e9540f;
  padding: 10px 0;
  
  a {
    font-size: 36px;
    font-family: "Neucha", "Arial", sans-serif;
    color: #ffffff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
}

.index-table__items {
  position: absolute;
  left: 0;
  width: 577px;
  height: 580px;
  top: 0;
}

.index-table__item {    
  cursor: pointer;
  opacity: 0;
  position: absolute;
  transition: opacity 0.1s ease-in 0s;

}

.index-table__item:hover {
  opacity: 1;
}

.index-table__item--gift {
  background-color: transparent;
  background-image: url(@border-gift-image);
  background-position: @border-gift-offset-x @border-gift-offset-y;
  background-repeat: no-repeat;
  height: 138px;
  left: 43px;
  top: 58px;
  width: 149px;
  
}

.index-table__item--apple {
  background-color: transparent;
  background-image: url(@border-apple-image);
  background-position: @border-apple-offset-x @border-apple-offset-y;
  background-repeat: no-repeat;
  width: 130px;  
  height: 142px;
  left: 215px;
  top: 48px;
  
}

.index-table__item--meat {
  background-color: transparent;
  background-image: url(@border-meat-image);
  background-position: @border-meat-offset-x @border-meat-offset-y;
  background-repeat: no-repeat;
  width: 175px;  
  height: 250px;
  left: 360px;
  top: 55px;
  
}

.index-table__item--spice {
  background-color: transparent;
  background-image: url(@border-spice-image);
  background-position: @border-spice-offset-x @border-spice-offset-y;
  background-repeat: no-repeat;
  width: 121px;  
  height: 100px;
  left: 50px;
  top: 215px;
  
} 

.index-table__item--tomato {
  background-color: transparent;
  background-image: url(@border-tomato-image);
  background-position: @border-tomato-offset-x @border-tomato-offset-y;
  background-repeat: no-repeat;
  width: 127px;  
  height: 130px;
  left: 185px;
  top: 200px;
  
} 

.index-table__item--recipe {
  background-color: transparent;
  background-image: url(@border-recipe-image);
  background-position: @border-recipe-offset-x @border-recipe-offset-y;
  background-repeat: no-repeat;
  width: 246px;  
  height: 208px;
  left: 25px;
  top: 343px;
  
} 

.index-table__item--key {
  background-color: transparent;
  background-image: url(@border-key-image);
  background-position: @border-key-offset-x @border-key-offset-y;
  background-repeat: no-repeat;
  width: 115px;  
  height: 105px;
  left: 173px;
  top: 322px;
 
}

.index-table__item--bone {
  background-color: transparent;
  background-image: url(@border-bone-image);
  background-position: @border-bone-offset-x @border-bone-offset-y;
  background-repeat: no-repeat;
  width: 232px;  
  height: 142px;
  left: 310px;
  top: 305px;
 
}

.index-table__item--green {
  background-color: transparent;
  background-image: url(@border-green-image);
  background-position: @border-green-offset-x @border-green-offset-y;
  background-repeat: no-repeat;
  width: 213px;  
  height: 155px;
  left: 255px;
  top: 440px;
 
}

.index-table__item--tel {
  background-color: transparent;
  background-image: url(@border-tel-image);
  background-position: @border-tel-offset-x @border-tel-offset-y;
  background-repeat: no-repeat;
  width: 102px;  
  height: 148px;
  left: 460px;
  top: 360px;
  
} 

.index-table__item--active {
  opacity: 1;
}