.kitchen-goods {
  padding-bottom: 50px;
}

.kitchen-goods__title {
  font-family: "Neucha";
  font-weight: 300;
  font-size: 36px;
  color: #e95c1b;
  text-align: center;
   h2 {
     margin-top: 25px;
   }
}

.kitchen-goods__items {
  margin-bottom: 30px;
}

.kitchen-goods__item {
  padding: 7px;
  padding-top: 0;
  background-color: #ffffff;
  display: inline-block;
  box-shadow: 0 0 5px rgba(0,0,0,0.4);
  margin-right: 20px;
  
  &:nth-child(4n) {
    margin-right: 0;
  }
}

.kitchen-goods__name {
  text-align: center;
  font-weight: normal;
  color: #e95c1b;
  font-size: 24px;
  margin: 0;
  margin-bottom: 3px;
}

.kitchen-goods__img {
  border: 1px solid #d9d9d9;
}

.kitchen-goods__descr {
  font-size: 26px;
  color: #989898;
}

.kitchen-goods__button {
  background-color: #e95c1b;
  border-radius: 20px;
  cursor: pointer;
  padding: 0 13px;
  margin-left: 15px;
}


.kitchen-goods__select {
  color: #989898;
  border: 1px solid #d9d9d9;
  border-radius: 17px;
  outline: none;
  -webkit-appearance: none;
  padding-right: 27px;
  padding-left: 7px;
  background-image: url("../img/pointer--select.png");
  background-repeat: no-repeat; 
  background-position: 85% 15px;
  -moz-appearance: none;
  text-indent: 0.01px; 
  text-overflow: '';
  -ms-appearance: none;
  appearance: none!important;
  cursor: pointer;
  outline:none;
}


.kitchen-goods__link {
  display: block;
  text-align: center;
  
  a {
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    background-color: #eb6426;
    font-size: 18px;
    padding: 15px 18px;
  }
}
