.menu-dishes__title {
  text-align: center;
  font-size: 30px;
  color: #ec7037;
  font-family: "Neucha", "Arial", sans-serif;
}

.menu-dishes__link {
  a {
    color: #848484;
    font-size: 18px;
    text-decoration: none;
    &:hover {
      color: #000000;
    }
  }
  
}
.menu-dishes__intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-dishes__link--prev {
  
}

.menu-dishes__link--next {
 
}
