.menu-dish {
  width: 250px;
  height: 335px;
  position: relative;
  vertical-align: top;
  text-align: right;
  display: flex;
  flex-direction:column;
  align-items: flex-end;
}

.menu-dishes__item[disabled="disabled"] {
  opacity: 0.3;
  
  .menu-dish {
    &::after {
      position: absolute;
      content: "";
      width: 1px;
      height: 335px;
      background-color: #29874c;
      right: 0;
      top: 0;
      opacity: 1;
    }
    
    &::before {
      position: absolute;
      content: "";
      width: 1px;
      height: 335px;
      background-color: #29874c;
      left: 0;
      top: 0;
      opacity: 1;
    }
  }
  
  .menu-dish__title:hover {
    color: #ffffff;
    cursor: auto;
  }
  
  .menu-dish__btn:hover {
    background-color: rgba(0,0,0,0.5);
    cursor: auto;
  }
  
  .menu-dish__item--recipe {
    a:hover{
      color: #de5800;
      cursor: auto;
      &::before{
        background-image: url(@icon-recipe-image);
        background-position: @icon-recipe-offset-x @icon-recipe-offset-y;
        background-repeat: no-repeat;
      }
    } 
  }
  
  .menu-ingredient__title {
    cursor: auto;
    &:hover {
      color: #6e6e6e;
    }
    
  }
}

.menu-dish__title {
  cursor: pointer;
  text-align: center;
  color: #ffffff;
  font-size: 24px;
  line-height: 22px;
  font-family: "Neucha", "Arial", sans-serif;
  background-color: rgba(0,0,0,0.5);
  padding: 4px 10px;
  margin: 0;
  min-height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 230px;
  
  
  &:hover {
    color: rgba(255,255,255,0.8);
  }
}

.menu-dish__img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 250px;
  height: 335px;
}


.menu-dish__btn {
  position: absolute;
  left: 27px;
  bottom: 10px;;
  background-color: rgba(0,0,0,0.5);
  color: #ffffff;
  font-size: 18px;
  display: block;
  border: 1px solid #ffffff;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  width: 88px;
  margin: 0 auto;
  
  &:hover {
    background-color: #ef5f00;
  }
}

.menu-dish__descr {
  flex-grow:4;
  padding: 1px 0;
  right: 0;
  bottom: 0;
  width: 65px;
  
  background-color: rgba(255,255,255,0.8);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
 
}

.menu-dish__item {
  
  color: #7a7a7a;
  font-size: 12px;
  position: relative;

  &::before {
    position: absolute;
  }
}

.menu-dish__item--time {
  padding-top: 25px; 
  &::before {
    content: "";
    width: 20px;
    height: 20px;
    background-image: url("../img/menu-clock.png");
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.menu-dish__item--protein {
  padding-top: 25px;
  &::before {
    content: "БЖУ";
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: #00702a;
    font-size: 18px;
  }
}

.menu-dish__item--level {
  padding-top: 27px;
  &::before {
    content: "";
    width: 26px;
    height: 25px;
    background-image: url("../img/menu-level.png");
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.menu-dish__item--calories {
  color: #00702a;
  font-size: 15px;
}

.menu-dish__item--recipe {

  text-align: center;
  
  a {
    color: #de5800;
    font-size: 14px;
    position: relative;
    display: block;
    padding-top: 35px;
    &::before{
      content: "";
      position: absolute;
      background-image: url(@icon-recipe-image);
      background-position: @icon-recipe-offset-x @icon-recipe-offset-y;
      background-repeat: no-repeat;
      width: 45px;
      height: 35px;
      top: 0;
      left: 10px;
    }
    
    &:hover{
      color: rgb(238,164,116);
      &::before{
        background-image: url(@icon-recipe-hover-image);
        background-position: @icon-recipe-hover-offset-x @icon-recipe-hover-offset-y;
        background-repeat: no-repeat;
      }
    } 
  }
}

.menu-dish__popup {
  display: block;
  position: fixed;
  top: 125px;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px 120px;
  background-image: url("../img/bg.jpg");
  height: 450px;
  overflow-y: scroll;
  z-index: 100;
  border: 1px solid #cecece;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}

.menu-dish__popup-title {
  font-size: 30px;
  color: #ec7037;
  font-family: "Neucha", "Arial", sans-serif;
  margin-bottom: 27px;
  text-align: center;
}