.menu-dishes {
  padding-bottom: 40px;
}

.menu-dishes__title {
  text-align: center;
  font-size: 30px;
  color: #ec7037;
  font-family: "Neucha", "Arial", sans-serif;
  margin: 0;
}

.menu-dishes__link {
  a {
    color: #848484;
    font-size: 18px;
    text-decoration: none;
    &:hover {
      color: #000000;
    }
  }
  
}
.menu-dishes__intro {
  padding: 10px 35px;
  display: flex;
  justify-content: space-between;
  align-items: top;
}

.menu-dishes__link--prev {
  
}

.menu-dishes__link--next {
 
}

.menu-dishes__items {
  border: 1px dashed #29874c;
  font-size: 0;
  text-align: center;
  vertical-align: top;
}

.menu-dishes__item {
  display: inline-block;
}


