.menu-dishes {
  padding-bottom: 40px;
}

.menu-dishes__title {
  text-align: center;
  font-size: 30px;
  color: #ec7037;
  font-family: "Neucha", "Arial", sans-serif;
  margin: 0;
}

.menu-dishes__link {
  margin-top: 5px;
  position: relative;
  a {
    color: #848484;
    font-size: 18px;
    text-decoration: none;
    display: inline-block;

    &::before {
      position: absolute;
      content: "";
      background-image: url("../img/menu-arrow-link.png");
      width: 16px;
      height: 31px;
    }
  }
}

.menu-dishes__link {
  a:hover {
    color: #000000;
    
    &::before {
      background-image: url("../img/menu-arrow-link-hover.png");
    }
  }
}



.menu-dishes__link--prev {
  a {
    padding-left: 25px;
    &::before {
      left: 0;
      top: -5px;
    }
  }
  
}

.menu-dishes__link--next {
  a {
    padding-right: 25px;
    &::before {
      transform: rotate(180deg);
      right: 0;
      top: -5px;
    }
  }
 
}
.menu-dishes__intro {
  padding: 10px 35px;
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: top;
}

.menu-dishes__items {
  font-size: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 15px;
}

.menu-dishes__items--popup {
  justify-content: center;
  padding: 0;
  flex-wrap: nowrap;
}

.menu-dishes__quantity {
  width: 1248px;
  margin-left: 15px;
  
  border-radius: 15px 15px 0 0;
  border: 1px dashed #29874c;
  border-bottom: none;
  font-size: 0;
  
  &[disabled="disabled"] {
    background-color: #e8e8e8;
    .menu-dishes__quantity-title--5 {
      color: #858585;
    }
  }
}

.menu-dishes__quantity-title {
  display: inline-block;
  font-size: 18px;
  color: #00702a;
  text-align: center;
  padding: 10px 0;
  
}

.menu-dishes__quantity-title--3 {
  width: 748px;
  border-radius: 15px 15px 0 0;
  border-right: 1px dashed #29874c;
  background-color: #ffffff;
}

.menu-dishes__quantity-title--5 {
  width: 498px;
}

.menu-dishes__item {
  margin-bottom: 20px;
}




