.page-footer__contacts {
  background-color: @bg-green;
}

.social-link {
  display: inline-block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #ffffff;

  background-position: center;
  background-repeat: no-repeat;
}

.social-link--vk {
  background-image: url("../img/icons/icon-vk.svg");
  background-size: 30px auto;
}

.social-link--fb {
  background-image: url("../img/icons/icon-fb.svg");
  background-size: 13px auto;
}

.social-link--ok {
  background-image: url("../img/icons/icon-ok.svg");
  background-size: 45px auto;
}

.social-link--inst {
  background-image: url("../img/icons/icon-inst.svg");
  background-size: 24px auto;
}






.page-footer__nav {
  background-color: @bg-grey;
}

.footer-nav {
  padding: 0 
}

.footer-nav__items {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.footer-nav__item {
  padding: 10px 25px;
}

.footer-nav__item a {
  color: #626262;
  text-decoration: none;
  font-size: 18px;
  display: inline-block;
  vertical-align: middle;
}

.footer-nav__item a:hover {
  color: #000000;
}



.page-footer__confident {
  background-color: @bg-orange;
  text-align: center;
}

.page-footer__confident-item {
  display: inline-block;
  vertical-align: middle;
  padding: 7px 35px;
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
}