.page-footer__contacts {
  background-color: @bg-green;
  padding: 7px 0;
  .clearfix();
}

.page-footer__contacts--comming-soon {
  background: transparent;
}

.page-footer__text {
  font-size: 24px;
  line-height: 28px;
  color: #595959;
  text-align: center;
  width: 410px;
  margin-bottom: 15px;
}

.contacts__inner {
  display: table;
}

.social-links {
  padding: 0;
  padding-right: 10px;
  border-right: 1px solid #ffffff;
  display: table-cell;
  vertical-align: middle;
  text-align: right;
  width: 393px;
}

.social-links--comming-soon {
  border: none;
  display: block;
}

.social-link {
  display: inline-block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #ffffff;
  margin: 5px 6%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.social-link--vk {
  background-image: url("../img/icons/icon-vk.svg");
  background-size: 30px auto;
}

.social-link--fb {
  background-image: url("../img/icons/icon-fb.svg");
  background-size: 13px auto;
}

.social-link--ok {
  background-image: url("../img/icons/icon-ok.svg");
  background-size: 45px auto;
}

.social-link--inst {
  background-image: url("../img/icons/icon-inst.svg");
  background-size: 24px auto;
}

.social-link--comming-soon {
  background-color: transparent;
  border-radius: 50%;
  background-image: none;
}

.social-link:hover{
  background-color: @bg-grey;
}

.contacts__tel {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  width: 385px;
  color: #ffffff;
  font-size: 24px;
  border-right: 1px solid #ffffff;
}

.contacts__tel--comming-soon {
  display: block;
  width: auto;
  border: none;
  font-size: 24px;
  line-height: 28px;
  color: #595959;
  margin-top: 10px;
  text-align: center;
  padding-left: 4px;
}

.contacts__explic {
  color: #ffffff;
  font-size: 16px;
  margin-bottom: 10px;
}

.contacts__subscribe {
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 17px;
  display: table-cell;
  vertical-align: middle;
  width: 330px;
}

.contacts__form {
  position: relative;
  display: block;
}

.contacts__form input {
  display: block;
  width: 255px;
  border-radius: 10px;
  outline: none;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 12px;
  padding-right: 96px;
  font-size: 18px;
}

.contacts__form button {
  position: absolute;
  right: 7px;
  top: 5px;
  z-index: 5;
  background-color: #277621;
  border: none;
  color: #ffffff;
  font-size: 16px;
  border-radius: 10px; 
  padding: 5px 25px;
}

.contacts__form button:hover{
  background-color: @bg-green;
}



.page-footer__nav {
  background-color: @bg-grey;
}

.footer-nav {
  padding: 0 
}

.footer-nav__items {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.footer-nav__item {
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 4px;
  padding-bottom: 10px;
}

.footer-nav__item a {
  color: #626262;
  text-decoration: none;
  font-size: 18px;
  display: inline-block;
  vertical-align: middle;
}

.footer-nav__item a:hover {
  color: #000000;
}



.page-footer__confident {
  background-color: @bg-orange;
  text-align: center;
}

.page-footer__confident-item {
  display: inline-block;
  vertical-align: middle;
  padding: 7px 35px;
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
}