.personal-nav {
  padding-top: 70px;
  background-image: url("../img/bg_personal_nav.jpg");
  float: left;
  padding-left: 23px;
  padding-right: 23px;
}

.personal-nav__items {
  list-style: none;
  padding: 0;
  margin:0;
}

.personal-nav__code {
  display: inline-block;
  background-color: #fcfcfc;
  padding: 4px 7px;
  border-radius: 30%;
  border: 1px solid #b7b7b7;
  margin-left: 6px;
}

.personal-nav__item a{
  color: #707070;
  display: block;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

.personal-nav__item a:hover {
  color: #000000;
}
