.personal-info {
  float: left;
  width: 765px;
  margin-left: 148px;
}

.personal-info_inner {
  .clearfix();
  padding-bottom: 60px;
}

.personal-info__title {
  font-size: 20px;
  color: #ec7037;
}

.personal-info__table {
  padding: 0;
  vertical-align: top;
  border: 1px solid #dadada;
  border-collapse: collapse;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
  font-size: 18px;
  line-height: 20px;
  font-weight: normal;
  line-height: 25px;
  color: #868686;
  text-align: left;
  vertical-align: top;
    
    div{
      padding-left: 7px;
    }
    tr:last-child td{
    padding-bottom: 45px;
  }
  tr:first-child td{
    padding-top: 45px;
  }
  }
  
  .personal-info__data div {
    border: 1px dashed  #dadada;
    border-radius: 16px;
    min-height: 30px;
    background-color: #ffffff;
    padding: 0 10px;
    padding-top: 5px;
  }



.personal-info__name {
  padding: 3px 15px;
  width: 140px;
  border-right: 1px solid #dadada ;
}

.personal-info__data {
  width: 340px;
  background-color: #ffffff;
  padding: 3px 35px;
 
}

