.personal-points__inner {
  .clearfix();
}

.personal-points {
  float: left;
  width: 920px;
  margin-left: 30px;
}

.personal-points__title {
  font-size: 20px;
  color: #ec7037;
  text-align: left;
  text-align: center;
  margin-bottom: 20px;
  padding-top: 25px;
}

.personal-points__stat {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.personal-points__info {
  font-size: 18px;
  color: #757575;
  
  span {
    color: #e95d0f;
  }
}


