.personal-info {
  float: left;
  width: 765px;
  margin-left: 148px;
}

.personal-info_inner {
  .clearfix();
  padding-bottom: 60px;
}

.personal-info__title {
  font-size: 20px;
  color: #ec7037;
  padding-left: 170px;
}

.personal-info__data-table {
  padding: 0;
  vertical-align: top;
  border: 1px solid #dadada;
  border-collapse: collapse;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  color: #868686;
  text-align: left;

    tr:last-child td {
    padding-bottom: 45px;
    }
  
    tr:first-child td {
    padding-top: 45px;
    }
  }

.personal-info__data {
  width: 380px;
  background-color: #ffffff;
  padding: 4px 35px;
  position: relative;
}
  
.personal-info__data{ 
  
  div, input {
  border: 1px dashed  #dadada;
  border-radius: 16px;
  min-height: 31px;
  background-color: #ffffff;
  padding: 0 10px;
  padding-top: 4px;
  display: inline-block;
  width: 86%;
}
  
  input {
        display: none;
  }
}

.personal-info__name {
  padding: 4px 10px;
  width: 160px;
  border-right: 1px solid #dadada ;
}

.personal-info__edit {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 30px;
  background-image: url("../img/icons/icon-pen.svg");
  background-repeat: no-repeat;
  background-size: 30px auto;
  cursor: pointer;
}

