.personal-gift__stat {
  font-family: "Neucha", "Arial", sans-serif;
  font-size: 21px;
  color: #737373;
  padding-left: 20px;
}

.personal-gift__slider {
  width: 850px;
  padding: 0 36px;
  margin: 0 auto;
  margin-bottom: 100px;
  margin-left: -20px;
  position: relative;
  
  &::before {
    position: absolute;
    content: "";
    width: 210px;
    height: 210px;
    border-radius: 50%;
    border: 1px dashed #e85511;
    left: -235px;
    top: 8px;
    background-image: url("../img/icon-gift--big.png");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.personal-gift__slider::-moz-selection { background: transparent; color: #fff; text-shadow: none; }
.personal-gift__slider::selection { background: transparent; color: #fff; text-shadow: none; }

.personal-gift__items {
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.personal-gift__wrap {
  position: relative;
  padding: 4px;
  left: 0;
  top: 0;
  width: 10000000px;
  .clearfix();
}

.personal-gift__item {
  padding: 7px;
  width: 190px;
  background-color: #ffffff;
  float: left;
  border: 1px solid #d1d1d1;
  border-radius: 15px;
  margin-right: 7px;
}

.personal-gift__nav {
  position: absolute;
  width: 28px;
  height: 53px;
  background-image: url("../img/icon-arrow--small.png");
  top: 90px;
  cursor: pointer;
}

.personal-gift__nav--prev {
  left: 0;
}

.personal-gift__nav--next {
  right: 0;
  transform: rotate(180deg);
}


.personal-gift__descr {
  padding: 0 5px;
}

.personal-gift__name {
  font-family: "Neucha", "Arial", sans-serif;
  font-size: 21px;
  color: #e95d0f;
  text-align: center;
  padding-bottom: 7px;
  border-bottom: 1px solid #d1d1d1;
}

.personal-gift__button {
  display: block;
  text-align: center;
  font-size: 14px;
  line-height: 14px;
  padding-top: 5px;
  color: #8b8b8b;
  &:hover {
    color: #000000;
  }
}

.personal-gift__item--inactive {
  position: relative;
  
  img {
    filter: opacity(0.6);
  }
  
  &::after {
    position: absolute;
    content: "";
    top: 50px;
    left: 50%;
    margin-left: -25px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #e9651c;
    background-color: rgba(255,255,255,0.6);
    background-image: url("../img/icon-lock.png");
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .personal-gift__button {
    text-decoration: none;
    cursor: text;
    font-size: 12px;
    &:hover {
    color: #8b8b8b;
  }
  }
}

.personal-gift__inner {
  background-color: #ffffff;
}

.personal-gift--together {
  background-image: url("../img/bg.jpg");
  padding-top: 180px;
  
  .personal-gift__stat {
    padding-left: 0;
    font-family: "Century Gothic", "Arial", sans-serif;
  }
  .personal-gift__slider {
    width: 1077px;
    padding: 0 36px;
    margin: 0 auto;
    margin-bottom: 50px;
    
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 120px;
      height: 120px;
      border-radius: 50%;
      border: 1px dashed #e85511;
      left: 510px;
      top: -160px;
      background-image: url("../img/icon-gift--middle.png");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  
  .personal-gift__item {
    width: 222px;
    margin-right: 39px;
  }
  
}

.personal-gift__confirm {
  width: 430px;
  position: fixed;
  top: 250px;
  left: 50%;
  margin-left: -215px;
  z-index: 30;
}

.personal-gift__confirm-title {
  font-size: 23px;
  color: #ffffff;
  font-weight: 700;
  background-color: #e95d0f;
  padding: 20px 0;
  text-align: center;
  position: relative;
  box-shadow: 0px 0px 5px 0 rgba(5, 5, 6, 0.3);
  &::before {
    position: absolute;
    content: "";
    background-image: url("../img/gift-confirm-top.png");
    width: 273px;
    height: 76px;
    top: -76px;
    left: 50%;
    margin-left: -136px;
  }
}
.personal-gift__confirm-inner {
  width: 385px;
  box-shadow: 0px 0px 5px 0 rgba(5, 5, 6, 0.3);
  margin: 0 auto;
  position: relative;
  img{
    width: 100%;
    height: auto;
  }
}
.personal-gift__confirm-point {
  font-size: 14px;
  color: #727272;
  font-weight: bold;
  position: absolute;
  z-index: 5px;
  right: 45px;
  top: 20px;
  padding-left: 40px;
  
  span{
    color: #ffffff;
    font-size: 18px;
    margin-right: 10px;
    position: absolute;
    display: block;
    padding-top: 7px;
    width: 34px;
    height: 38px;
    text-align: center;
    left:0;
    top: -7px;
    z-index: 5;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/icon-points.png");
  }
  
}

.personal-gift__confirm-text {
  font-size: 14px;
  color: #e95d0f;
  font-style: italic;
  width: 85px;
  position: absolute;
  top: 40px;
  right: 10px;
}

.personal-gift__confirm-link {
  text-decoration: none;
  color: #ffffff;
  font-size: 24px;
  padding: 10px;
  background-color: #e95d0f;
  border-radius: 15px;
  width: 300px;
  display: block;
  text-align: center;
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -165px;
  cursor: pointer;
  &:hover {
    background-color: #f76f24;
  }
}



