.personl-points__inner {
  .clearfix();
}

.personal-points {
  float: left;
  width: 900px;
  margin-left: 30px;
}

.personal-points__title {
  font-size: 20px;
  color: #ec7037;
  text-align: left;
  text-align: center;
  margin-bottom: 20px;
  padding-top: 25px;
}

.personal-points__stat {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.personal-points__info {
  font-size: 18px;
  color: #757575;
  
  span {
    color: #e95d0f;
  }
}

.personal-points__diagram {
  width: 100%;
  height: 220px;
  background-image: url("../img/bg_personal_nav.jpg");
  margin-bottom: 60px;
  padding-top: 5px;
  position: relative;
}

.personal-points__diagram-inner {
  position: relative;
  margin-top: 50px;
  margin-left: 23px;
}


.personal-points__diagram-numbers {
  position: absolute;
  left: 0;
  right: 0;
}

.personal-points__diagram-number {
  font-size: 14px;
  color: #727272;
  font-weight: bold;
  position: absolute;
  z-index: 5;
  top: -30px;
  
  span{
    color: #ffffff;
    font-size: 18px;
    margin-right: 10px;
  }
  
  &::before {
    position: absolute;
    content: "";
    width: 34px;
    height: 45px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/icon-points.png");
    z-index:-1;
    top: -7px;
    left: -7px;
  }
}

.personal-points__diagram-number--0 {
  left: -10px;
  span {
    margin-left: 6px;
    margin-right: 13px;
  }
}

.personal-points__diagram-number--30 {
  left: 187px;
}

.personal-points__diagram-number--50 {
  left: 396px; 
}

.personal-points__diagram-number--70 {
  left: 600px;
}

.personal-points__diagram-number--100 {
  right: -10px;
  
  span {
    margin-left: -5px;
    margin-right: 5px;
  }
  
}

.personal-points__diagram-gifts {
  position: absolute;
  top: 10px;
}
.personal-points__diagram-gift {
  font-size: 14px;
  color: #696969;
  position: absolute;
  top: 55px;
  padding-top: 50px;
  position: absolute;
  text-align: center;
  
  &::before {
    position: absolute;
    top: -10px;
    left: 50%;
    content: "";
    background-repeat: no-repeat;
    background-position: center;
  }
}

.personal-points__diagram-gift--surprise {
  left: 166px;
  &::before {
    width: 49px;
    height: 52px;
    background-image: url("../img/icon-gift.png");
    margin-left: -24.5px;
  }
}

.personal-points__diagram-gift--smoothie {
  left: 340px;
  width: 140px;
  &::before {
    width: 35px;
    height: 56px;
    margin-left: -17.5px;
    background-image: url("../img/icon-smoothies.png");
  }
}

.personal-points__diagram-gift--sandwich {
  left: 550px;
  width: 140px;
  &::before {
    width: 60px;
    height: 52px;
    margin-left: -30px;
    background-image: url("../img/icon-sandwich.png");
  }
}

.personal-points__diagram-gift--box {
  left: 750px;
  width: 140px;
  &::before {
    width: 48px;
    height: 50px;
    margin-left: -24px;
    background-image: url("../img/icon-box.png");
  }
}

.personal-points__diagram-pointer {
  font-family: "Neucha", "Arial";
  font-size: 14px;
  color: #e95d0f;
  top: -15px;
  left: 107px;
  position: absolute;
  
  &::before {
    position: absolute;
    content: "";
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #e95d0f;
    top: 33px;
    left: -20px;
  }
  
  &::after {
    position: absolute;
    content: "";
    width: 28px;
    height: 17px;
    left: -15px;
    top: 15px;
    background-image:url("../img/icon-arrow--diagram.png");
  }
  
}

