/*моадльное окно личного меню*/
.menu-popup {
  background-color: #ffffff;
  border: 1.3px solid #bfbfbf;
  padding-top: 14px;
  padding-bottom: 9px;
  padding-left: 9px;
  padding-right: 9px; 
  font-size: 14px;
  color: #7f7f7f;
  box-shadow: 2px 2px 5px grey;
  position: absolute;
  top: 140px;
  right: -10px;
  z-index: 20;
}

.menu-popup::before {
  position: absolute;
  content: "";
  top: -16px;
  left: -1px;
  width: 16px;
  height: 16px;
  background-image: url("../img/pointer.png");
  background-repeat: no-repeat;
}

.menu-popup--lock {
  width: 60px;
  display: none;
}

.menu-popup--friend {
  display: none;
  width: 135px;
  top: 125px;
  right:-85px;
}

/*модальное окно личное меню - подписка*/

.subscribe-popup {
  display: none;
  position: fixed;
  background-color: #ffffff;
  z-index:15;
  top: 18%;
  left: 50%;
  margin-left: -140px;
  padding: 20px;
  width: 333px;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  border: 1px solid #bababb;
  border-radius: 15px;
}

.subscribe-popup__close {
  position: absolute;
  width: 48px;
  height: 48px;
  background-color: #ffffff;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  border: 1px solid #bababb;
  border-radius: 50%;
  top: -45px;
  right: -45px;
  cursor: pointer;
  
  
  &::before {
    position: absolute;
    content: "+";
    color: #c8c7c6;
    font-size: 85px;
    z-index: 30;
    top:-28px;
    left:-1px;
    transform: rotate(45deg);
  }
  
}

.subscribe-popup__title {
  font-size: 24px;
  color: #00702a;
  text-align: center;
  display: block;
  margin-bottom: 20px;
}

.subscribe-popup__item { 
  padding-left: 20px;
  input{
    display: none;
  }
  
  label {
    padding-left: 35px;
    position: relative;
    display: block;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 24px;
    color: #7d7d7d;
    
    &::before {
      position: absolute;
      content: "";
      width: 22px;
      height: 22px;
      border-radius: 50%;
      background-color: #ffffff;
      border: 1px solid #a4a4a4;
      top: 5px;
      left: 0;
    }
  }
  
  input:checked~label:before {
    border-color: #ea6122;
    background-color: #ea6122;
  }
}

.subscribe-popup__btn {
  border: none;
  background-color: #009036;
  color: #ffffff;
  font-size: 24px;
  padding: 7px 25px;
  border-radius: 15px;
  margin: 0 auto;
  display: block;
  margin-top: 25px;
  margin-bottom: 20px;
}

.subscribe-popup__btn:hover {
  background-color: #05b547;
}

.subscribe-popup__expl {
  font-size: 20px;
  color: #7d7d7d;
  text-align: center;
}

/*модальное окно главная страница - меню недели*/

.popup-dinner {
  display: none;
  background-color: #000000;
  padding-top: 50px;
  padding-bottom: 20px;
  width: 355px;
  background-image: url("../img/bg-popup-dinner.jpg");
  background-position: top center;
  position: absolute;
  top: 166px;
  left: 110px;
  
  &::after {
    top:0;
    left: 115px;
    position: absolute;
    content: "";
    width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #009036;
  }
}

.popup-dinner__item {
  font-family: "Neucha", "Arial", sans-serif;
  font-size: 22px;
  margin-bottom: 30px;
  padding-left: 128px;
  position: relative;
  
  &::before {
    position: absolute;
    content: "";
    top:0;
    left: 10px;
    background-repeat: no-repeat;
  }
}

.popup-dinner__item--dinner {
  &::before {
    background-image: url("../img/icon-dish-popup.png");
    width: 116px;
    height: 66px;
  }
}

.popup-dinner__item--smoothies {
  &::before {
    background-image: url("../img/logo-smoothies-popup.png");
    left: 35px;
    width: 54px;
    height: 66px;
  }
}

.popup-dinner__item--sandwich {
  &::before {
    background-image: url("../img/icon-sandwich-popup.png");
    left: 15px;
    width: 96px;
    height: 79px;
  }
}

.popup-dinner__title {
  color: #ffb58c;
}

.popup-dinner__link {
  text-decoration: none;
  color: #ffffff;
  display: block;
}

/*всплывающее меню на главной странице*/

.popup-menu {
  background-image: url("../img/bg_personal_nav.jpg");
  position: fixed;
  width: 100%;
  top: -105px;
  z-index: 50;
}

.popup-menu__inner {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
}



