.service-nav{
  padding: 0 8px;
}

.service-nav__items {
  list-style: none;
  text-align: right;
  margin: 0;
  padding: 8px 0;
}

.service-nav__item {
  text-align: center;
  display: inline-block;
  font-size: 24px;
  line-height: 24px;
  margin: 0 30px;
}

.main-nav__service {
  background-color: @bg-green;
}

.service-nav__item a {
  color: #ffffff;
}

.service-nav__item a:hover {
  color: rgba(255,255,255,0.8);
}