.subscribe-variants__inner {
  .clearfix();
}

.subscribe-variants {
  float: right;
  width: 930px;
  margin-left: 28px;
  .clearfix();
}

.subscribe-variants__title {
  font-family: "Neucha", "Arial", sans-serif;
  font-size: 36px;
  text-align: left;
  padding-left: 320px;
  color: #ec7037;
}

.subscribe-variants__explic {
  font-size: 20px;
  color: #757575;
  padding: 12px;
  box-shadow: 0 0 3px rgba(0,0,0,0.3) inset;
  border: 1px solid #bababb;
  width: 264px;
  border-radius: 15px;
  margin-bottom: 18px;
  background-color: #ffffff;
  text-align: center;
  float: left;
}

.subscribe-variant__wrapper {
  float: right;
  width: 602px;
  padding-right: 10px;
  padding-bottom: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.subscribe-variant {
  padding: 5px;
  background-color: #ffffff;
  box-shadow: 0 0 3px rgba(0,0,0,0.3) inset;
  border: 1px solid #bababb;
  border-radius: 15px;
  width: 278px;
  height: 265px;
  margin-bottom: 20px;
}

.subscribe-variant--check {
  position: relative;
  
  &::after {
    position: absolute;
    content: "";
    width: 42px;
    height: 42px;
    background-color: #ffffff;
    border-radius: 50%;
    border: 1px solid #b3b3b3;
    top: -20px;
    right: 15px;
  }
  
  &::before {
     position: absolute;
    content: "";
    width:42px;
    height:38px;
    background-image: url("../img/icon-check.png");
    background-repeat: no-repeat;
    background-position: center;
    top: -22px;
    right: 10px;
    z-index: 5;
  }
}

.subscribe-variant--counter {
  border: none;
  box-shadow: none;
  backgound-color: #000000;
  background-image: url("../img/bg-subscribe-dinner.jpg");
  background-repeat: no-repeat;;
  background-position: top center;
  font-family: "AnimeAce";
 
  .subscribe-variant__title {
    color: #ffe2ab;
    font-size: 18px;
    font-family: "AnimeAce";
    margin-top: 7px;
    margin-bottom: 15px;
  }
}

.subscribe-variant__form {
  text-align: center;
  background-image: url("../img/subscribe-dinner-axes.png");
  background-repeat: no-repeat;
  background-position: center 35px;
  
  .subscribe-variant__form-title{
    display: block;
    text-align: left;
    padding-left: 44px;
    font-size: 14px;
    margin-bottom: 30px;
    color: #94e07a;
  }
}

.subscribe-variant__form-item {
  display: inline-block;
  margin-right: 31px;
  
  &:nth-child(5n) {
    margin-right: 0;
  }
  
  input {
    display: none;
  }
  
  label { 
    display: block;
    color: #ffffff;
    padding-top: 35px;
    position: relative;
    cursor: pointer;
  }
  
  input:checked~label::before {
    position: absolute;
    content: "";
    top: 0;
    left: -2px;
    width: 21px;
    height: 21px;
    background-image: url("../img/subscribe-pointer.png");
    background-repeat: no-repeat;
    background-position: center;
    z-index: 20;
  }
}

.subscribe-variant__form-text {
  font-size: 14px;
  color: #94e07a;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: left;
  margin-left: 50px;
  span {
    color: #ffa47a;
  }
}

.subscribe-variant__form-total {
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 10px;
}

.subscribe-variant__btn {
  display: inline-block;
  text-align: center;
  border: none;
  background-color: transparent;
  padding: 10px 11px;
  background-image: url("../img/bg-button-dinner.png");
  background-position: center;
  background-size: content;
  background-repeat: no-repeat;
  margin-right: 0;
  margin-bottom: 7px;
}

.subscribe-variant__btn--no {
  color: #ff7839;
}

.subscribe-variant__btn--yes {
  color: #8bd074;
}

.subscribe-variant__title {
  font-family: "Neucha", "Arial", sans-serif;
  font-size: 18px;
  color: #707070;
  text-align: center;
  margin-top: 0;
  margin-bottom: 5px;
}

.subscribe-variant__explic {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}

.subscribe-variant__price {
  font-family: "Neucha", "Arial", sans-serif;
  font-size: 18px;
  color: #e85511;
}

.subscribe-variant__price__button {
  border: none;
  outline: none;
  color: #ffffff;
  background-color: #e85714;
  border-radius: 15px;
  padding: 5px 20px;
}

.subscribe-variant__container {
  -webkit-perspective: 1200;
  -moz-perspective: 1200;
  perspective: 1200;
  width: 300px;
  margin-bottom: 12px;
}

.subscribe-variant__item {
  position: relative;
  width: 300px;
  height: 275px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: .7s linear;
  -moz-transition: .7s linear;
  -o-transition: .7s linear;
  transition: .7s linear;
}

.subscribe-variant__front,
.subscribe-variant__back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.subscribe-variant__front {
  z-index: 2;
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

.subscribe-variant__back {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.subscribe-variant__container:hover .subscribe-variant__item {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.subscribe-variant__total {
  font-size: 18px;
  color: #6f6f6f;
  
  .total-sum {
    color: #ea5f1f;
  }
}



