.user-nav {
  position: relative;
  padding-top: 8px;
  padding-bottom: 0;
  margin-right: 20px;
}

.page-header__logo {
  position: absolute;
  top: 0;
  left: 58px;
  z-index: 110;
}

.page-header__logo--personal {
  left: 45px;
}

.page-header__logo--comming-soon {
  left: 50%;
  margin-left: -117px;
}

.user-nav__items {
  list-style: none;
  text-align: right;
  margin: 0;
  padding: 0;
}

.user-nav__item {
  display: inline-block;
  vertical-align: middle;
  margin-left: 41px;
  padding-top: 20px;
  padding-bottom: 16px;
}

.user-nav__item a {
  color: @user-nav-color;
  display: block;
  padding-left: 50px;
  font-weight: 300;
  font-size: 18px;
  position: relative;
}

.user-nav__item--tel a{
  text-align: center;
}

.tel-expl {
  display: block;
  font-size: 16px;
}

.user-nav__item a::before{
  content: '';
  position: absolute;
  left: 0;
  top: -7px;
  background-repeat: no-repeat;
}

.user-nav__item--location{ 
  a::before {
    background-image: url(@icon-marqer-image);
    background-position: @icon-marqer-offset-x @icon-marqer-offset-y;
    width: @icon-marqer-width;
    height: @icon-marqer-height;
    left: 15px;
  }
}

.user-nav__item--location:hover {
  a {
    color: #040404;
    &::before {
      background-position: @icon-marqer-hover-offset-x @icon-marqer-hover-offset-y;
    }
  }
}

.user-nav__item--tel { 
  a::before {
    background-image: url(@icon-phone-image);
    background-position: @icon-phone-offset-x @icon-phone-offset-y;
    width: @icon-phone-width;
    height: @icon-phone-height;
    top: 3px;
  }
}

.user-nav__item--tel:hover {
  a {
    color: #040404;
    &::before {
      background-position: @icon-phone-hover-offset-x @icon-phone-hover-offset-y;
    }
  }
}

.user-nav__item--entry { 
  a::before {
    background-image: url(@icon-entry-image);
    background-position: @icon-entry-offset-x @icon-entry-offset-y;
    width: @icon-entry-width;
    height: @icon-entry-height;
    top: -7px;
    left: 5px;
  }
}

.user-nav__item--entry:hover {
  a {
    color: #040404;
    &::before {
      background-position: @icon-entry-hover-offset-x @icon-entry-hover-offset-y;
    }
  }
}

.user-nav__item--basket { 
  a::before {
    background-image: url(@icon-basket-image);
    background-position: @icon-basket-offset-x @icon-basket-offset-y;
    width: @icon-basket-width;
    height: @icon-basket-height;
    top: -12px;
  }
}

.user-nav__item--basket:hover {
  a {
    color: #040404;
    &::before {
      background-position: @icon-basket-hover-offset-x @icon-basket-hover-offset-y;
    }
  }
}


.user-nav__item--basket-active {
  a {
    &::before {
      background-position: @icon-basket-orange-offset-x @icon-basket-orange-offset-y;
    }
     
  }
}

.user-nav__item--basket-active:hover {
  a {
    color: #040404;
    
    &::before {
      background-image: url('../img/basket-orange-hover.png');
    }
    
    
  }
  
  .user-nav__basket-total {
      color: #fbb688;
    }
}

.user-nav__basket-total {
  color: #ec7037;
  margin-left: 10px;
  //position: absolute;
  text-align: left;
  //width: 120px;
}


.user-nav--index {
  padding-top: 1px;
  .clearfix();
  .page-header__logo {
    left: 50%;
    margin-left: -120px;
  }
  
  .user-nav__items {
    width: 400px;
    text-align: left;
    float: right;
    padding-bottom: 15px;
    margin-top: -4px;
  }
  
   .user-nav__item {
     padding-bottom: 0px;
     padding-top: 14px;
   }
  
}

.user-nav--popup {
  display: inline-block;
  font-family: "Comfortaa", "Arial", sans-serif;
   .user-nav__item{
  margin-left: 25px;
   }
  
  .user-nav__item a{
    text-decoration: none;
    color: #7d7d7d;
  }
  
  .user-nav__item:hover a{
    color: #000000;
  }
  
  
  
}
